{% extends "base.html.twig" %} 

{% block content %}

                <div class="row">

        <div class="col-12 col-sm-12 col-md-2 col-lg-2"></div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="bloc_central">
                    <div class="cercle">
                        <div class="test">
                            <div class="losange"></div>

            <form method="POST" action="{{ url('add') }}" enctype="multipart/form-data">
                <div class="form-row">

            <div class="bloc_message">
                {% include "partials/flashbag.html.twig" %}
            </div>
                        
                    <div class="col form-f">
                        <input type="file" name="uploadFile" class="form-file" size="40">
                    </div>
                        
                        <div class="col">
                            <input type="email" name="exp_email" class="form-envoyerExped" placeholder="Envoyer à">
                        </div>
                        
                    <div class="col">
                        <input type="email" name="dest_email" class="form-envoyerExped" placeholder="Votre adresse e-mail">
                    </div>
                        
                        <div class="col">
                            <textarea class="form-message" name="message" placeholder="Message ( facultatif )" rows="3"></textarea>
                        </div>
                                                
                    <div class="submit">
                        <input type="submit" name="upload" class="form-control btn-success" value="Transférer">
                    </div>
                        
                </div>
            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-2 col-lg-2"></div>
        </div>

{% endblock %}